.log-in-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 450px;
  width: 400px;
  background-color: rgb(116, 113, 112);
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 3;
}
.title {
  font-size: 2rem;
  margin-left: 20px;
}
.label {
  font-size: 0.8rem;
  margin-left: 20px;
}
.input {
  margin: 5px 20px 30px 20px;

  padding: 5px;
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: rgb(240, 240, 240);
}
.btn-subbmit-input {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 15px;
  background: rgb(75, 75, 200);
  cursor: pointer;
  border: none;
  color: white;

  &:hover {
    background: rgb(70, 70, 184);
  }
  &:active {
    background: rgb(59, 59, 172);
  }
}
.dezactivated {
  display: none;
}
